<div class="container">
  <div class="row">
    <h1 class="d-flex justify-content-center">Scholarship Application</h1>
    <hr>
  </div>
  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <div class="row">
        <h3>Objective</h3>
        <div class="col">
          <ul>
            <li><p>The purpose of this assignment was to update an existing codebase created by a previous CAPSTONE class. 
            The project was created in .NET Core 2.0 and was upgraded in this project to version 6.0.
            Many of the required Razor Pages libraries & functions needed to also be migrated to new versions to ensure usability.</p></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h3>Technologies</h3>

        <div class="col">
          <ul>
            <li>Razor Pages</li>
            <li>.NET Core</li>
            <li>Entity Framework</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Boostrap 5</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <img src="./assets/ScholarshipApp/ScholarshipLogin.png" />
      </div>
      <div class="col">
        <h3>View Code</h3>
        <p>Click here to access the code repository.</p>
        <a class="btn btn-dark" href="https://github.com/HunterMikkelsen/ScholarshipApp" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="Click to be taken to the code repository for the project.">Code Repo</a>
      </div>
    </div>
  </div>
</div>
