<div class="container">
  <div class="row">
    <h1 class="d-flex justify-content-center">Hangman</h1>
    <hr>
  </div>
  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <div class="row">
        <h3>Objective</h3>
        <div class="col">
          <ul>
            <li>
              <p>
                Using Angular & AJAX calls an asynchronous hangman game was created.
                Fully implmeneted account creation, account authentication and high score tracking.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h3>Technologies</h3>

        <div class="col">
          <ul>
            <li>Angular</li>
            <li>AJAX</li>
            <li>C#</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Boostrap</li>
            <li>.NET</li>
            <li>SQL</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/Hangman/LoginPage.png" class="d-block w-100" alt="Login Page">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-dark">Login Page</h5>
                <p class="bg-dark">A fully functioning Login & Signup system</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./assets/Hangman/Highscores.png" class="d-block w-100" alt="High Scores page">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="bg-dark">Landing Screen</h5>
                <p class="bg-dark">Display of the game & the highscores.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <img src="./assets/Hangman/Gameplay.gif" class="d-block w-100" alt="...">
  </div>-->
  <div class="row">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Code</h4>
          <h5 class="card-subtitle mb-2 text-muted">This section of code handles the logic button logic during gameplay.</h5>
          <img src="./assets/Hangman/code.png" class="d-block w-100"/>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>View Code</h3>
      <p>Click here to access the code repository.</p>
      <a class="btn btn-dark" href="https://github.com/HunterMikkelsen/Hangman" data-bs-toggle="tooltip" data-bs-placement="bottom"
         title="Click to be taken to the code repository for the project.">Code Repo</a>
    </div>
  </div>
</div>
