<div class="container">
  <div class="row">
    <h1 class="d-flex justify-content-center">Welcome</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Thank you for taking the time to look over my personal portfolio. In it you will find many examples of the projects I have created,
      and the technologies that were used.</p>
    </div>
    <div class="col-6">
      <h3>Project Overview</h3>
      <ul class="list-unstyled">
        <li>
          <a style="text-decoration: none;" routerLink="../game-hl">Higher or Lower</a>
          <ul>
            <li>A number guessing game where the goal is to guess the correct number in the least number of attempts.</li>
          </ul>
        </li>
        <li>
          <a class="text-decoration-none" routerLink="../hangman-game">Hangman</a>
          <ul>
            <li>A letter guessing game that utilizes Angular to dyamically update the game as players guess letters.</li>
          </ul>
        </li>
        <li>
          <a style="text-decoration: none;" routerLink="../california-speed-game">Speed</a>
          <ul>
            <li>A card game that allows two players to simultaneously place cards in the game of speed.</li>
          </ul>
        </li>
        <li>
          <a style="text-decoration: none;" routerLink="../scholarship-application">Scholarship Application</a>
          <ul>
            <li>A group project focused on updating a scholarship application website.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
